<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parité de <%= numero %>?</title>
</head>

<body>
    
    <p>Le nombre <%= numero %> est <%= numero%2 == 0?'pair':'impair'%>.</p>

</body>

</html>